/* FONTS */

$main-font: "Open Sans", Arial, sans-serif;
$second-font: "proxima_nova", Arial, sans-serif;



/* SIZE */
$base-size: 14px;
$title-base-size: 64px;

/* COLORS */
$white: #fff;
$black: #000;
$dark-text: #222222;
$gray:  #7C7C7C;
$bol-green: #0D858C;
$main-color: #0D858C;
$brand-color-text: #098EA6;
$brand-color-hover: #3FC6DE;

$yellow: yellow;

$bright-red:#DF362F;
$dark-red:#AF4845;
$grey:#CACACA;