@font-face
{
	font-family: UbuntuBold;
    src: url("../fonts/Ubuntu-B.ttf");
}

@font-face
{
	font-family: Ubuntu;
    src: url("../fonts/Ubuntu-R.ttf");
}

@font-face
{
	font-family: UbuntuLight;
    src: url("../fonts/Ubuntu-L.ttf");
}

@font-face
{
	font-family: ProximaNovaLight;
    src: url("../fonts/ProximaNova-Light.ttf");
}

*
{
	box-sizing:border-box;
}

body 
{
	background-color: #F9F9F9;
}

.page
{
	max-width:1200px;
	margin:0 auto;
}

.header
{
	display:flex;
	justify-content:space-between;
	align-items:center;

	height:100px;
}

.header-logo
{	
	position:relative;
	z-index:2;
}

.header-switch
{
	display:flex;
	justify-content:center;
	align-items:center;
}

.switch-specialists
{
	font-family: UbuntuBold;
	font-size: 16px;
	color: #DF362F;

	margin-right:5px;

}

.switch-line
{
	height:1px;
    width:39px;
	background-color:#DF362F;
}

.switch-patients
{
	font-family: Ubuntu;
	font-size: 14px;
	color: #DF362F;

	border: 1px solid #DF362F;
	border-radius:20px;

	box-shadow: 0px 5px 15px rgba(223, 54, 47, 0.1);
	padding: 9px 35px;
}

.contact-phone
{
	a 
	{
		text-decoration:none;
		font-family: Ubuntu;
		font-size: 20px;
		color: #6F6F6F;
	}
	/*a::before 
	{
		content: url("../img/call.svg");
		margin-right: 7px;
	}*/
	img 
	{
		vertical-align:middle;
		margin-right:5px;
	}
}

.contact-phone-hidden
{
	display:none;
}

.header_user-links
{
	display:flex;
	justify-content:center;
	align-items:center;

}

.header-login,.header-signin
{
	a
	{	
		text-decoration:none;

		/*border-bottom: 1px solid #353535;*/
		font-family: UbuntuBold;
		font-size: 14px;
		font-weight: 500;
		color: #353535;
		padding-bottom:2px;
		border-bottom: 1px solid #353535;
		img 
		{
			vertical-align:middle;
			margin-right:5px;
			border:none;
		}
	}


}



.log-img
{
	margin-right:5px;
}

.header-user_divider
{
	background-color: #353535;
	width:1px;
	height: 14px;
	margin: 0 5px;
}

.nav-menu
{
	background-color:#AF4845;
}

.nav-links
{
	display:flex;
	justify-content:space-between;
	list-style:none;
		li
		{
		/*display: inline-table;*/

		width:20%;
		text-align:center;
		margin:0;

		a 
		{	
			padding-top:35px;
			padding-bottom:35px;

			display:block;
			text-decoration:none;
			font-family:ubuntu;
			font-size:18px;
			color:white;

		}

		a:hover
		{
			background-color:#DF362F;

		}
	    }


}

.iHospital
{	
	display:block;
	text-decoration:none;
	padding-top:50px;
	padding-bottom:50px;
	padding-left:15px;
	font-family:ProximaNovaLight;
	font-size:45px;
	color:#E95A3E;
}
.cross-logo
{
	vertical-align:middle;
}

.al-middle
{
	vertical-align:middle;
}

.banner-background
{
	background-color:#CE3D2C;
	background-image:url("../img/banner.png");
	padding-top:59px;
	padding-bottom:98px;
	padding-left:15px;
	margin-bottom:72px;

}

.banner-header
{
	font-family:UbuntuBold;
	color:#FFFFFF;
	font-size:45px;
	line-height:56px;
	margin-bottom:27px;
	max-width:404px;


}

.banner-text
{
	font-family:Ubuntu;
	color:#FFFFFF;
	font-size:28px;
	line-height:39px;
	margin-bottom:4px;
}

.banner-list
{
	list-style-image:url("../img/check.svg");
	list-style-position:inside;
	margin-bottom:60px;
	li
	{
		font-family:Ubuntu;
		color:#FFFFFF;
		font-size:20px;
		line-height:28px;
	}
}

.banner-button
{	
	text-decoration:none;
	border-radius: 29px;
	background-color: #FFFFFF;
	padding:13px 28px;
	color: #DF362F;
	font-family:Ubuntu;
	font-size:16px;
	transition:0.5s;
	&:hover
	{
		color:white;
		background-color:#DF362F;
	}
}

.section
{
	border-top:2px solid #AF4845;
}

.section-header
{	
	/*max-width:211px;*/
	display:table-cell;
	font-family:UbuntuBold;
	line-height: 65px;
	font-size: 52px;
	color:#AF4845;
	letter-spacing: 0.03em;
	padding-top:10px;
	border-top:	8px solid #AF4845;
	padding-bottom:54px;

}

.article-link
{
	display:block;
	cursor:pointer;
	text-decoration:none;

	&:hover
	{
		.article-name 
		{
			color: #DF362F;
		}
		.article-continue::before 
		{
			content: url("../img/file.svg");
			border-bottom:none;
			display:inline-block;
			margin-right:5px;
		}
		.article-watch::before 
		{
			content: url("../img/camera.svg");
			border-bottom:none;
			display:inline-block;
			margin-right:5px;
		}



		box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1);
	}


}




.article-block
{
	/*display:flex;
	flex-direction:column;*/
	max-width:384px;
	/*margin-right:24px;*/


	.article-name
	{
		font-family: Ubuntu;
		font-weight: 500;
		line-height: 26px;
		font-size: 20px;		
		color: #353535;
		margin-bottom:12px;


	}

	.article-text
	{
		padding-top:19px;
	}

	.article-footer
	{
		padding-top:58px;
	}
}

.article-block-long
{	
	display:flex;
	width:100%;
	flex-direction:row;
	margin-right:0;
		margin-bottom:24px;


			.article-name
	{
		font-family: Ubuntu;
		font-weight: 500;
		line-height: 34px;
		font-size: 24px;
		color: #353535;
		margin-bottom:12px;


	}

	.article-text
	{
		padding-top:31px;
		width:100%;
	}

		.article-footer
	{
		padding-top:30px;
	}
}

.article-image
{

img 
{
	display:block;
}

}




.article-text	
{	

	padding-left:24px;
	padding-right:24px;
	text-decoration:none;
	/*padding:31px 24px;*/
	background-color:white;

	display:flex;
	flex-direction:column;
	padding-bottom:24px;

	.article-intro
	{
	font-family: UbuntuLight;
	line-height: 22px;
	font-size: 14px;
	color: #282828;
	/*margin-bottom:102px;*/
	}

	

	.article-footer
	{	
		margin: auto 0 0 0;
		display:flex;
		justify-content:space-between;
		width:100%;
	}

	.article-date
	{	
		font-family: UbuntuLight;
		line-height: 17px;
		font-size: 14px;
		color: #9A9A9A;
	}


}

	.article-continue,.article-watch
	{
		font-family: UbuntuBold;

		line-height: 17px;
		font-size: 14px;
		color: #353535;
		/*border-bottom: 1px solid #353535;*/
		text-decoration:underline;

	}

.block-shadow
{
	box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1);
}

.article-row
{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;

}

.show-more
{
	text-align:center;
	margin-bottom:70px;
	margin-top:65px;
	p
	{
		font-family: UbuntuLight;
		line-height: 25px;
		font-size: 20px;
		color: #353535;
		margin-bottom:6px;
	}


}

.article-video
{
	padding-left:24px;
	padding-right:24px;
	padding-top:24px;
	background-color:white;
}


.event-link
{
	display:block;
	cursor:pointer;
	text-decoration:none;

	&:hover
	{
		.event-header 
		{
			background-color: #DF362F;

		}

		.event-name
		{
			color: #DF362F;
		}
		.event-more::before 
		{
			content: url("../img/details.svg");
			text-decoration:none;
			display:inline-block;
			margin-right:5px;
		
		}




		box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1);
	}


}



.event
{
	margin-bottom:24px;
}

.event-header
{
	background-color:#C3C3C3;
	/*vertical-align:center;*/
	/*padding:19px 24px;*/
	padding:19px 24px 19px 24px;
}

.event-float-img
{
	float:right;
	margin-top:-5px;
}



.event-img
{
	vertical-align:middle;
}

.event-header-text
{
	font-family: Ubuntu;
font-size: 14px;
line-height: 17px;
color: #FFFFFF
}

.event-date
{
	margin-right:112px;
}

.event-body
{
	background-color: white;
	padding: 19px 24px;
}

.event-name
{
	font-family: Ubuntu;
	line-height: 26px;
	font-size: 20px;
	color: #353535;
}

.event-man
{
	font-family: Ubuntu;
line-height: 26px;
font-size: 16px;

color: #353535;
}

.event-footer
{
	display:flex;
	justify-content:space-between;
	padding-top:12px;
}

.event-more
{
		font-family: UbuntuBold;

		line-height: 17px;
		font-size: 14px;
		color: #353535;
		/*border-bottom: 1px solid #353535;*/
		text-decoration:underline;
}



	

.faq
{
	font-family: Ubuntu;
line-height: 25px;
font-size: 20px;

color: #353535;
padding-bottom:100px;
 a 
 {	
 	font-family:UbuntuBold;
 	color: #DF362F;
 }
}

.footer-background
{
	background-color:white;
	padding-bottom:21px;
}

.footer
{
	display:flex;
	flex-wrap:wrap;
}

.footer-img
{
	width:25%;
	padding-top:27px;
}

.footer-links
{
	width:50%;
	padding-top:59px;

	display:flex;
	justify-content:space-around;
	.footer-list
	{
		display:inline-table;
		list-style:none;
		li
		{
			font-family: Ubuntu;
			line-height: 24px;
			font-size: 16px;
			/*padding-bottom:21px;*/
			a 
			{
				text-decoration:none;
				color: #000000;

			}

			a:hover
			{
				text-decoration:underline;
			}
		}
		li:not(:last-child)
		{
			padding-bottom:21px;
		}
	}
}

.footer-contacts
{
	width:25%;
	padding-top:51px;
	display:flex;
	flex-direction:column;
}

.footer-address
{
	padding-top:20px;
	font-family: Ubuntu;
	line-height: 24px;
	font-size: 14px;
	color: #8A8A8A;
}

.footer-copyright
{
	font-family: Ubuntu;
	line-height: 21px;
	font-size: 12px;
	color: #8A8A8A;
	vertical-align:bottom;
	margin:auto 0 0 0;
}

.header-menu
{
	background-color:#DF362F;
	height:53px;
	width:54px;
	padding: 16px 17px;
	border-radius:5px;
	margin-left:12px;
	z-index:2;
	display:none;

}

.header-menu:hover
{
	cursor:pointer;
}


.header-menu__line
{
	    width: 20px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    border-radius:2px;

}

.header-menu__lines
{
	    transition: all 0.4s;
	        transition-timing-function:linear;


}

.header-menu__lines-rotate
{
	transform:rotate(90deg);
}

.hidden-menu
{
	position:absolute;
	background-color:white;
	z-index:1;
	top:0;
	left:0;
	display:none;
	padding-top:100px;
	padding-bottom:30px;
	width:460px;
	box-shadow: 10px 0 79px 0 rgba(53, 53, 53, 0.38);
}

.hidden-menu__show
{
	display:none;
}


.hidden_user-links
{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:15px;

}

.hidden-login,.hidden-signin
{
	a
	{	
		text-decoration:none;

		/*border-bottom: 1px solid #353535;*/
		font-family: UbuntuBold;
		font-size: 14px;
		font-weight: 500;
		color: #353535;
		padding-bottom:2px;
		border-bottom: 1px solid #353535;
		img 
		{
			vertical-align:middle;
			margin-right:5px;
			border:none;
		}
	}


}

.hidden-user_divider
{
	background-color: #353535;
	width:1px;
	height: 14px;
	margin: 0 5px;
}

.hidden-menu-links
{
	list-style:none;
		li
		{
		/*display: inline-table;*/

		text-align:left;
		margin:0;

		a 
		{	

					padding-left:30px;

			padding-top:20px;
			padding-bottom:20px;

			display:block;
			text-decoration:none;
			font-family:ubuntu;
			font-size:18px;
			color:#DF362F;

		}

		a:hover
		{
			background-color:#DF362F;
			color:white;

		}
	    }


}



@media screen and (max-width: 1201px)
{
	.article-link:last-child
	{
		margin-left:auto;
		margin-right:auto;
		/*margin-top:24px;*/
	}
	.article-link
	{
		margin-bottom:24px;
	}

	.section-header
	{
		padding-left:15px;
	}

	.faq
	{
		padding-left:15px;
	}
}

@media screen and (max-width:961px)
{
	.article-block-long
	{
		flex-direction:column;

		.article-image
		{
			img 
			{
				width:100%;
				height:auto;
			}
		}
	}

	.header-switch
	{
		display:none;
	}
}

@media screen and (max-width:786px)
{
	.article-link
	{
		width:100%;
			.article-block
	{
		max-width:100%;
	}

	}



	.article-image
	{
		img 
		{
			width:100%;
			height:auto;
		}
	}

	.header-menu,.hidden-menu__show
	{
		display:block;
	}

	.header_user-links,.nav-menu
	{
		display:none;
	}

	.header
	{
		border-bottom:2px solid #DF362F;
	}

	.event-date
	{
		margin-right:20px;
	}
}

@media screen and (max-width:640px)
{
	.contact-phone
	{
		display:none;
	}

	.contact-phone-hidden
	{
		display:block;
		padding-right:30px;
	}

	.header-logo
	{
		width:100%;
		height:auto;
	}

	.event-place
	{
		display:none;
	}

	.footer-img
	{
		img 
		{
			width:100%;
			height:auto;
		}
	}

	.event-footer
	{
		flex-direction:column;
	}

	.footer-contacts
	{	

		width:100%;
		align-items:center;
		/*display:flex;
		flex-direction:row;
		justify-content:space-between;*/

	}

	.footer-address
	{
		padding-top:15px;
		text-align:center;
	}

	.show-more
	{
		margin-top:25px;
		margin-bottom:25px;
	}

	.section-header
	{
		padding-bottom:30px;
	}

	.iHospital
	{
		padding-top:15px;
		padding-bottom:15px;
	}

	.faq
	{
		padding-bottom:30px;
	}

}

@media screen and (max-width:460px)
{

		.banner-header
	{
		font-size:28px;
		line-height:1;
	}

	.banner-text
	{
		font-size:24px;
	}

	.banner-background
	{
		padding-top:30px;
		padding-bottom:60px;
	}

			.section-header
	{
		font-size:45px;
	}

	.hidden-menu
	{
		width:100%;
	}

		.event-img
	{
		display:none;
	}
}

@media screen and (max-width:380px)
{
		.section-header
	{
		font-size:37px;
	}



	.footer-img
	{
		display:none;
	}

	.footer-links
	{
		width:100%;
	}
}
